/* #9925A7 */

body {
    overflow: hidden;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    width: 100%;
    line-height: 75px;
}

footer {
    width: 100%;
    line-height: 25px;
    text-align: center;
}

h1 {
    padding: 0;
    margin: 0;
    margin-left: 5px;
}

.logo {
    margin: 5px;
    width: 225px;
    height: 75px;
}

.urls {
    font-weight: bolder;
    color: black;
    text-decoration: none;
}

#header-buttons {
    margin: 5px;
    position: absolute;
    right: 25px;
}

#signup-button {
    margin-left: 25px;
    padding: 5px;
    border-radius: 25px;
    color: #ffffff;
    background-color: #9925A7;
} #signup-button:hover {
    color: #000000;
}

#container {
    position: static;
    background-color: #9925A7;
    width: 100%;
    height: 90vh;
    overflow-x: scroll;
}

#form {
    position: relative;
    padding: 10px;
    top: 250px;
    margin: 0 auto;
    width: 300px;
    min-height: 135px;
    box-shadow: 0 4px 8px 0 #00000033, 0 6px 20px 0 #00000030;
}

input {
    margin: 5px;
}

input[type="submit"], input[type="button"] {
    float: right;
    padding: 10px;
    margin-top: 25px;
    border-radius: 25px;
    border: 0;
    color: #ffffff;
    background-color: #9925A7;
} input[type="submit"]:hover, input[type="button"]:hover {
    color: #000000;
}

input[type="button"] {
    float: left;
}

#Delete {
    cursor: pointer;
    float: right;
    border-radius: 25px;
    padding: 7.5px;
    border: 0;
    color: #ffffff;
    background-color: #a72525;
} #Delete:hover {
    color: #000000;
}

#yesButton, #noButton {
    border: 0;
    border-radius: 25px;
    padding: 10px;
    margin: 3px;
    color: #ffffff;
    cursor: pointer;
} #yesButton:hover, #noButton:hover {
    color: #000000;
}

#yesButton {
    width: 40px;
    background-color: #a72525;
    float: left;
}

#noButton {
    width: 50px;
    background-color: #008000;
    float: right;
}

#popUp {
    width: 300px;
    height: 75px;
    z-index: 5;
    margin: 0 auto;
    box-shadow: 0 4px 8px 0 #00000033, 0 6px 20px 0 #00000030;
}

#error {
    padding: 0;
    margin: 0;
    color: #ff0000;
}

.header-new {
    position: absolute;
    right: 0;
    font-size: 15px;
    margin: 5px;
    padding: 7px;
    background-color: #ffffff;
    border-radius: 25px;
} .header-new:hover {
    color: #ffffff;
    background-color: #000000;
    cursor: pointer;
}

.header-new:hover > .urls {
    color: white;
}

#lists {
    position: relative;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(99, 300px);
    grid-gap: 15px;
    margin: 5px;
}

#list {
    padding: 5px;
    border: 1px solid #000000;
    background-color: #ffffff;
}

.list-edit {
    float: right;
    font-size: 15px;
}

.task-add {
    float: right;
    font-weight: bolder;
    font-size: 25px;
}

#tasks {
    margin-top: 40px;
}

#task {
    border-top: 1px solid black;
}

h2 {
    margin: 0;
    padding: 0;
}

p {
    color: #808080;
}